$icon-font-path: "../styles/fonts/" // Change the path to the fonts
@import "bootstrap-sass/lib/bootstrap"

/* Put your CSS here */
html,
body
  margin: 30px 0

#order
  ul#places
    background: #ffffff
    list-style-type: decimal
    list-style-position: inside
    padding: 10px
    border-radius: 5px
    li
      padding: 5px
      background: #eeeeee
      margin: 5px
      border-radius: 5px




