<div id="order" class="well">
    <div class="row">
        <div class="col-lg-12">
            <h4>Contact:</h4>
            <form role="form">
                <div class="form-group">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <label class="visible-lg">Reference:</label>
                            {{input type="text" class="form-control" placeholder="Jane Doe" value=controllers.company.reference_name}}
                        </div>
                        <div class="form-group">
                            <label class="visible-lg">Company name:</label>
                            {{input type="text" class="form-control" placeholder="Company Inc" value=controllers.company.name}}
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <label class="visible-lg">Phone:</label>
                            {{input type="text" class="form-control" placeholder="555-1234567" value=controllers.company.phone}}
                        </div>
                        <div class="form-group">
                            <label class="visible-lg">E-mail:</label>
                            {{input type="email" class="form-control" placeholder="jane@doe.org" value=controllers.company.email}}
                        </div>
                    </div>
                </div>
                <h4>Information</h4>
                <div class="form-group">
                    <div class="form-inline" role="form">
                        {{view Ember.Select
                            content=controllers.menus
                            optionValuePath="content"
                            optionLabelPath="content.name"
                            value=currentMenu}}
                        <div>Price: {{menuPrice}}</div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <label class="visible-lg">Number of participants:</label>
                            {{input type="number" class="form-control" value=order.participants min=12}}
                        </div>
                        <div class="form-group">
                            <label class="visible-lg">Meeting place:</label>
                            {{input type="text" class="form-control" placeholder="Town square" value=order.start_location}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline" role="form">
                        <div class="form-group">
                            <label class="visible-lg">Date:</label>
                            {{view MealwalkClient.DateField
                                value=startDate
                                class="form-control"
                                min=minDate
                                max=maxDate}}
                        </div>
                        <div class="form-group">
                            <label class="visible-lg">Time:</label>
                            {{view MealwalkClient.TimeField
                            value=startTime
                            class="form-control"
                            min=minTime
                            max=maxTime}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>Prioritize restaurants:</label>
                        <ul id="places">
                            {{#each currentMenu.places}}
                                <li>{{name}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <label>If the company buys the beverages</label>
                        {{#each controllers.walk_parts}}
                            <div class="form-group">
                                <h4>{{name}}: {{info.price}}</h4>
                                <label>Beverages:</label>
                                {{#with child_products controller='accessories'}}
                                    {{#each}}
                                        <label>{{name}} {{info.price}} x {{quantity}} = {{subTotal}} </label>
                                        {{input type="number" class="form-control" min=0 value=quantity}}
                                    {{/each}}
                                    <div>Beverage per person:{{subTotal}}</div>
                                {{/with}}
                                <div>Part per person:{{subTotal}}</div>
                            </div>
                        {{/each}}
                        {{#each order.order_items}}
                            <div>
                            {{id}}, {{parent_product}}, {{quantity}}, {{price}}
                            </div>
                        {{/each}}
                        <label>Totals:</label>
                        <div>
                            Per person:{{personTotal}}
                        </div>
                        <div>
                            Total: {{total}}
                        </div>
                    </div>
                </div>




                <button class="btn btn-default" {{action "save"}}> ok</button>
            </form>
        </div>
    </div>
</div>
