<div id="order" class="well">
    <div class="row">
        <div class="col-lg-12">
            <div>Participant Count:</div>
            {{input type="number" value=participantsCount}}
            {{#each course in courses}}
                <div style="border: 1px solid black">
                <div><strong>{{course.name}}</strong></div>
                {{#each restaurant in course.restaurants}}
                    <div class="clearfix" style="width:140px">
                    <div>{{restaurant.name}}</div>
                        {{#each table in restaurant.tables}}
                            <div style="width:60px;margin-right:10px;margin-bottom:10px;float:left">
                                {{#each seat in table.seats}}
                                    <div style="width:30px;float:left">
                                        <div style="background: {{unbound seat.color}};text-align: center">
                                    {{seat.id}}
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                        {{/each}}
                    </div>
                {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
</div>